

  <div ng-include src="'/templates/store/_navbar.html'"></div>

<div class="container"  >
  <div class="row clearfix"  >
    <div class="col-md-6 column" style="border: 1px solid #ccc;">
      <div class="row clearfix">
        <div class="col-md-12 column">

         <!-- main image -->

      <div class="easyzoom easyzoom--adjacent easyzoom--with-thumbnails" >

         <a   href="{{zoomImageUrl}}{{product.avatar_file_name}}">
          <img src="{{stdImageUrl}}{{product.avatar_content_type}}"  alt=""  style="margin-top:5px;border:5px solid #ddd; width: 100%;" />  </a>

      </div>
    <!-- main image -->
      </div>
      </div>
      <br>

      <!-- thubnails -->
      <div class="row thumbnails">
           <div  class="col-sm-3 col-xs-6" ng-repeat="images in productimages | limitTo:5" ng-show="$index > 0"><a  class="thumbnail" >
            <img  src="{{images}}" alt="Image" class="img-responsive" ng-click="setImage(productimagesoriginal[$index],images)" style="cursor:pointer;height:80px;"></a>

          </div>
      </div>
    </div>
  <!-- thubnails -->

    <!-- product information -->
    <div class="col-md-6 column">
      <h3 class="text-left text-primary">
        {{product.name}}
      </h3>
      <dl>
        <dt>
          {{product.description}}
        </dt>
      </dl>






    <style type="text/css">

      .rating li {
          cursor: pointer;
      }
      .rating .filled {
          color: red;
      }

    </style>

    <div class="row" ng-hide="review">
    <div class="col-md-12">

        <hr>
        <div class="product-price">{{product.cost | currency}}</div>
        <div class="product-stock">In Stock</div>
        <hr>
        <div class="btn-group cart">
          <button type="button" class="btn btn-success">
            Add to cart
          </button>
        </div>
        <div class="btn-group wishlist">
          <button type="button" class="btn btn-danger" ng-click="showreview(true)">
            Review Product
          </button>
        </div>
      </div>
    </div>

    <div class="row" ng-show="review">
		<div class="col-md-12">
    	<div class="well well-sm">

          <p>Be  review this product</p>

            <div class="row" id="post-review-box" >
                <div class="col-md-12">
                    <form accept-charset="UTF-8" name="reviewForm" novalidate ng-submit="postreview()">
                      <!-- <label>Review Title</label>
                        <input   class="form-control" name="title" type="text"> -->
                        <label>Your Review</label>
                        <textarea class="form-control"  ng-model="userreview.comment" name="comment" placeholder="Enter your review here..." required></textarea>
                        <label>Your Rating</label>
                        <div> <span ng-repeat="rating in ratings" >

  <div ng-init="userreview.rating = rating.current " star-rating rating-value="rating.current" max="rating.max"   on-rating-selected="getSelectedRating(rating)" ></div>

                              </span>
                            (Click to rate on scale of 1-5)
                          </div>

                          <br>
                        <div class="text-right">
                          <button class="btn btn-success" type="submit" ng-disabled="reviewForm.$invalid">Post</button>
                          <button type="button" class="btn btn-danger" ng-click="showreview(false)">
                            Cancel
                          </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

		</div>
	</div>

    </div>
  </div>
   <!-- product information -->

  <br>
  <div class="row clearfix">
    <div class="col-md-12 column">
       <a  class="list-group-item active">CUSTOMERS WHO VIEWED THIS PRODUCT ALSO VIEWED</a><br>

        <div class="row products" style="margin:0px auto;">


    <a  href="#store/{{images.id}}/show"  ng-repeat="images in products | limitTo : 10">
      <img src="{{images.avatar_file_name}}" alt="" class="img-rounded" >

      <!-- <span>{{images.name}}</span> -->
    </a>


   <style type="text/css">

.products img {
    margin: 5px 5px 5px 5px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }
.products span{
  display:inline;
}
.products img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 999;
    border:0px solid #ccc;
    }
    </style>
  </div>

    </div>
  </div>
 <br>
  <div class="row clearfix">
    <div class="col-md-8 column">
      <div class="list-group">
         <a  class="list-group-item active">General Features</a>
        <div class="list-group-item">
          Brand <label style="float:right;color:green"> {{product.brand}}</label>
        </div>
        <div class="list-group-item">
          HandsetColor  <label style="float:right;color:green"> {{product.HandsetColor }}</label>
        </div>
        <div class="list-group-item">
          SIM  <label style="float:right;color:green"> {{product.SIM}}</label>
        </div>
         <div class="list-group-item">
           ModelName  <label style="float:right;color:green"> {{product.ModelName}}</label>
        </div>
         <div class="list-group-item">
           TouchScreen  <label style="float:right;color:green"> {{product.TouchScreen}}</label>
        </div>
        <a  class="list-group-item active">Multimedia</a>
        <div class="list-group-item">
          VideoPlayer <label style="float:right;color:green"> {{product.VideoPlayer}}</label>
        </div>
        <div class="list-group-item">
          PrimaryCamera  <label style="float:right;color:green"> {{product.PrimaryCamera}}</label>
        </div>
         <div class="list-group-item">
           SecondaryCamera  <label style="float:right;color:green"> {{product.SecondaryCamera}}</label>
        </div>

         <a  class="list-group-item active">Internet & Connectivity</a>
        <div class="list-group-item">
          Bluetooth <label style="float:right;color:green"> {{product.Bluetooth}}</label>
        </div>
        <div class="list-group-item">
          Wifi  <label style="float:right;color:green"> {{product.Wifi }}</label>
        </div>
        <div class="list-group-item">
          USBConnectivity  <label style="float:right;color:green"> {{product.USBConnectivity}}</label>
        </div>
        <a  class="list-group-item active">Dimensions</a>
         <div class="list-group-item">
         Weight  <label style="float:right;color:green"> {{product.Weight}}</label>
        </div>
         <div class="list-group-item">
           Dimension  <label style="float:right;color:green"> {{product.Dimension}}</label>
        </div>
      </div>
    </div>


    <div class="col-md-4 column">
      <a href="#" class="list-group-item active">Customers Reviews</a>
      <div class="media" ng-repeat="productreview in productreviews">
        <div class="media-body">


         <article>{{productreview.review | limitTo:120}}..<a href="#/reviews/{{product.id}}/show">readmore</a></article>
         <h6><i>  {{productreview.user.email}} -- reviewd on {{productreview.created_at | date:'mediumDate'}}   </i><h6>

        </div>

      </div>
      <style>
      <style>
    .container {
         font-size: 16px;
         line-height: 16px;
         height: 10px;
         overflow: hidden;
    }
    .show {
         overflow: visible;
         height: auto;
    }
      </style>


  </div>
</div>

<script>

 // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();

    // Get an instance API
    var api = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');

    $(document).ready(function() {

       $(".thumbnails").on("click", "div a", function(e) {
      var $this = $(this);

   e.preventDefault();
      $('#zoomimage').remove();

      // Use EasyZoom's `swap` method
      api.swap($this.data("standard"), $this.attr("href"));
    });
});



  </script>
