

  <div ng-include src="'/templates/store/_navbar.html'"></div>

<div class="container"  >
  <div class="row clearfix"  >
    <div class="col-md-6 column" style="border: 1px solid #ccc;">
      <div class="row clearfix">
        <div class="col-md-12 column">

         <!-- main image -->

      <div class="easyzoom easyzoom--adjacent easyzoom--with-thumbnails" >

         <a   href="{{zoomImageUrl}}{{product.avatar_file_name}}">
          <img src="{{stdImageUrl}}{{product.avatar_content_type}}"  alt=""  style="margin-top:5px;border:5px solid #ddd; width: 100%;" />  </a>

      </div>
    <!-- main image -->
      </div>
      </div>
      <br>

      <!-- thubnails -->
      <div class="row thumbnails">
           <div  class="col-sm-3 col-xs-6" ng-repeat="images in productimages | limitTo:5" ng-show="$index > 0"><a  class="thumbnail" >
            <img  src="{{images}}" alt="Image" class="img-responsive" ng-click="setImage(productimagesoriginal[$index],images)" style="cursor:pointer;height:80px;"></a>

          </div>
      </div>
    </div>
  <!-- thubnails -->

    <!-- product information -->
    <div class="col-md-6 column">
      <h3 class="text-left text-primary">
        {{product.name}}  <label style="float:right;color:green;"> {{product.cost | currency}}</label>
      </h3>
      <dl>
        <dt>
          {{product.description}}
        </dt>
      </dl>

       <!-- <div star-rating ng-model="rating1" max="10" on-rating-selected="rateFunction(rating)"></div> -->
      <!-- rating script -->
  <!-- <h4>Default</h4>
    <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

    <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>

    <button class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
    <button class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
    <hr />

    <h4>Custom icons</h4>
    <div ng-init="x = 5"><rating ng-model="x" max="15" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></rating> <b>(<i>Rate:</i> {{x}})</b></div>
    <div ng-init="y = 2"><rating ng-model="y" rating-states="ratingStates"></rating> <b>(<i>Rate:</i> {{y}})</b></div>

    <button class="btn btn-sm btn-success" ng-click="" ng-disabled="isReadonly">AddToCart</button> -->


  <div> <span ng-repeat="rating in ratings">{{rating.current}} out of
            {{rating.max}}
        <div star-rating rating-value="rating.current" max="rating.max"   on-rating-selected="getSelectedRating(rating)"></div>
        </span>
    </div>

    <style type="text/css">

      .rating li {
          cursor: pointer;
      }
      .rating .filled {
          color: red;
      }

    </style>

    <hr />


    </div>
  </div>
   <!-- product information -->

  <br>
  <div class="row clearfix">
    <div class="col-md-12 column">
       <a  class="list-group-item active">CUSTOMERS WHO VIEWED THIS PRODUCT ALSO VIEWED</a><br>

        <div class="row products" style="margin:0px auto;">


    <a  href="#store/{{images.id}}/show"  ng-repeat="images in products | limitTo : 10">
      <img src="{{images.avatar_file_name}}" alt="" class="img-rounded" >

      <!-- <span>{{images.name}}</span> -->
    </a>


   <style type="text/css">

.products img {
    margin: 5px 5px 5px 5px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }
.products span{
  display:inline;
}
.products img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 999;
    border:0px solid #ccc;
    }
    </style>
  </div>

    </div>
  </div>
 <br>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="list-group">
         <a  class="list-group-item active">Product Information</a>
        <div class="list-group-item">
          Type <label style="float:right"> {{productinfo[0].Type}}</label>
        </div>
        <div class="list-group-item">
         style Code  <label style="float:right"> {{productinfo[0].styleCode }}</label>
        </div>
        <div class="list-group-item">
         Diameter  <label style="float:right"> {{productinfo[0].Diameter}}</label>
        </div>
         <div class="list-group-item">
         Weight  <label style="float:right"> {{productinfo[0].Weight}}</label>
        </div>
         <div class="list-group-item">
         Thickness  <label style="float:right"> {{productinfo[0].Thickness}}</label>
        </div>
      </div>
    </div>


  </div>
</div>

<script>

 // Instantiate EasyZoom instances
    var $easyzoom = $('.easyzoom').easyZoom();

    // Get an instance API
    var api = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');

    $(document).ready(function() {

       $(".thumbnails").on("click", "div a", function(e) {
      var $this = $(this);

   e.preventDefault();
      $('#zoomimage').remove();

      // Use EasyZoom's `swap` method
      api.swap($this.data("standard"), $this.attr("href"));
    });
});


  </script>
